/* SMARTPHONE (from 320px to 576px wide)*/

.game-table{
    width: 100%;
    background-color:#005B00;
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-radius:4px;
    margin-bottom: 20px;
    position:relative;
}

.subtitle{
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: bold;
    margin: 5px 0;
}

/* Card */
#deck{
    position: absolute;
    display:flex;
    top:10px;
    left:0;
    flex-wrap: wrap;
    justify-content: center;

}

.deck-card{
    
}

.fake-card{
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number{
    position: absolute;
    font-size: 1.5rem;
}

.top{
    top:5px;
    left: 5px;
}

.bottom{
    bottom:5px;
    right: 5px;
}

.suit{
    font-size: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(255, 0, 0, 0));
}

.red{
    color:red;
}
/* Dealer side */
.dealer{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.dealer h2{
    margin: 20px 0 10px 0;
}

.dealer-cards{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 120px;
}

/* Player side */
.player{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.player h2{
    margin: 20px 0 10px 0;
}

.player-cards{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 120px;
}

.player-choices{
    margin: 15px 0;
}

.hit--btn{
    width: 120px;
}

.stand--btn{
    width: 120px;
}

/* Messages */
.message-container{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 50%;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid rgba(255, 0, 0, 0.75);
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
}

.message-text{
    padding:10px;
    box-sizing: border-box;
    color: white;
    font-size: 1.5rem;
}

/* Messages button */
.yes--btn{
    width: 95px;
}

.no--btn{
    width: 95px;
}

/* Score area */
.score-area{
    margin: 10px 0 10px 2px;
}
.scores{
    display: inline-block;
}