/* SMARTPHONE (from 320px to 576px wide)*/

.game-table{
    width: 70%;
    min-height: 657px;
    margin: 0 auto;
    background-color:#005B00;
    border: 20px inset rgb(19 33 21 / 60%);
    border-radius:10px;
    margin-bottom: 20px;
    position:relative;
    display: none;
}

/*First Message*/
.first-message{
    text-align: center;
    width: 100%;
    top: 40%;
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
    height: 100%;
    margin-top: -100px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    line-height: 150%;
}

label{
    margin: 10px 0 5px 0;
}

input[type = text]{
    max-width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
}

input[type = number]{
    max-width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
}

.start-btn{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 203px;
}

/* Card */
#deck{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 5px;
    z-index: -1;
}

.fake-card{
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deck-card{
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card{
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number{
    position: absolute;
    font-size: 1.5rem;
}

.top{
    top:5px;
    left: 5px;
}

.bottom{
    bottom:5px;
    right: 5px;
}

.suit{
    font-size: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(255, 0, 0, 0));
}

.red{
    color:red;
}
/* Dealer side */
.dealer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.dealer h2{
    margin: 20px 0 10px 0;
}

.dealer-cards{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 120px;
}

/* Player side */
.player{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

.player h2{
    margin: 20px 0 10px 0;
}

.player-cards{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 120px;
}

.player-choices{
    margin: 15px 0;
}

.hit--btn{
    height: 70px;
    width: 70px;
}

.stand--btn{
    height: 70px;
    width: 70px;
}

/* Messages */
.message-container{
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
    display: none;
    top: 37vh;
}

.message-text{
    padding:10px;
    box-sizing: border-box;
    color: white;
    font-size: 1.5rem;
}

/* Messages button */
.yes--btn{
    width: 95px;
}

.no--btn{
    width: 95px;
}

/* Score area */
.score-area{
    margin: 10px 0 10px 2px;
}
.scores{
    display: inline-block;
}

.icons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inside-settings{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 360px;
    align-items: center;
    top: -300px;
    left: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: -110px;
    display: none;
}

.inside-settings > .circle-btn:first-of-type{
    margin-top: 10px;
}

/* Instructions */
.instruction-container{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30vh;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
    display: none;
}

.wrapper{
    margin: 5px 0 10px 0;
    width: 100%;
}
  
#up-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#up-list label{
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #f00;
    border-bottom: none;
}
  
#up-list label:hover{
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid #fff;
    
}
  
#up-list label.last{
    border-bottom: 1px solid #f00;
}

#up-list label.last:hover{
    border-bottom: 1px solid #fff;
}
  
#up-list ul ul li{
    padding: 10px;
    background: black;
}
  
  
#up-list input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}
  
#up-list input[type="checkbox"] ~ ul{
    height: 0;
    transform: scaleY(0);
}
  
#up-list input[type="checkbox"]:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
}
  
#up-list input[type="checkbox"]:checked + label{
    background:rgba(255, 0, 0, 0.3);
    border: 1px solid #fff;
}

#up-list p{
    margin-bottom: 25px;
}

/*.move-card{
    position: absolute;
    top:10px;
    left: 10px;
}*/