/* SMARTPHONE (from 320px to 576px wide)*/

main{
    text-align: center;
}

/* hero image and text */
.hero-container{
    max-height: 500px;
    height: 50vw;
    position: relative;
}

#hero-img{
    height: 100%;
    width: 100%;
    max-height: 500px;
    z-index: -1;
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
    object-fit: cover;
    opacity: 0.7;
}

#hero-text{
    color:black;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 100%;
    bottom: 0;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

/* Rules Section*/
.rules{
    text-align: left;
}

.title{
    text-transform: uppercase;
    font-size: 1.6rem;
    display: inline-block;
    text-align: left;
    margin: 20px 15px 5px 15px;
    color: #CC0000;
    font-weight: bold;
}

.subtitle{
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: bold;
    margin: 5px 0;
}

.info{
    font-size: 0.7rem;
    margin: 0.5rem 0;
    line-height: 150%;
    width: 90%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(255, 0, 0, 0));
}

/* rules text */
.rules-text{
    text-align: left;
    padding: 0.5rem 15px;
    border-top: 1px solid rgba(255, 0, 0, .7);
}

.subtitle ~ li{
    list-style: square inside;
    line-height: 150%;
}

/* rules video */
.rules-video{
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 0, 0, .7);
}

.rules-video h3{
    text-align: left;
    margin-top: 0;
}

iframe{
    width: 90%;
    height: 50vw;
    margin: 0 5%;
    max-height: 496px;
}

/* Start Game Button */
.btn--start{
    margin: 25px 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*hero image and text */
    #hero-text{
        font-size: 150%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Rules */
    .title{
        font-size: 2rem;
    }

    .subtitle{
        font-size: 1.6rem;
    }
    
    .subtitle ~ li{
        font-size: 1.2rem;
    }
    
    .info{
        font-size: 1rem;
    }
}