/* SMARTPHONE (from 320px to 576px wide)*/

/* Table */
.game-table{
    width: 70%;
    min-height: 657px;
    margin: 0 auto;
    background-color:#005B00;
    border: 20px inset rgb(19 33 21 / 60%);
    border-radius:10px;
    margin-bottom: 20px;
    position:relative;
    display: none;
}

.table-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
}

#deck{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 5px;
    z-index: -1;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(255, 0, 0, 0));
}

/*First Message*/
#js-enabled-only{
    display: none;
}

.first-message{
    text-align: center;
    width: 90%;
    top: 40%;
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
    height: 100%;
    padding: 5px;
    box-sizing: content-box;
}

.first-message form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    line-height: 150%;
}

label{
    margin: 10px 0 5px 0;
}

input[type = text]{
    max-width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
    border: 1px solid red;
}

input[type = number]{
    max-width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
    border: 1px solid red;
}

.start-btn{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 203px;
}

/* Cards */
.fake-card{
    width: 50px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.deck-card{
    width: 50px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card{
    width: 50px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    z-index: 2;
}

.card-background{
    opacity: .3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
}

.number{
    position: absolute;
    font-size: 1rem;
}

.top{
    top:5px;
    left: 5px;
}

.bottom{
    bottom:5px;
    right: 5px;
}

.suit{
    font-size: 2rem;
}

.red{
    color:red;
}

/* Dealer side */
.dealer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.dealer h2{
    margin: 20px 0 10px 0;
}

.dealer-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    height: 180px;
    align-items: center;
}

/* Player side */
.player{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

.player h2{
    margin: 20px 0 10px 0;
}

.player-cards{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 180px;
    flex-wrap: wrap;
    align-items: center;
}

.player-choices{
    margin: 15px 0;
    z-index: 2;
}

.hit--btn{
    height: 70px;
    width: 70px;
}

.stand--btn{
    height: 70px;
    width: 70px;
}

.hit--btn i{
    display: block;
}

.stand--btn i{
    display: block;
}

/* Messages */
.message-container{
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
    display: none;
    top: 275px;
    box-sizing: border-box;
}

.message-container h2{
    text-transform: capitalize;
    line-height: 120%;
    margin-top: 10px;
}

.message-container p{
    margin: 10px 0;
    line-height: 120%;
}

/* Messages button */
.yes--btn{
    width: 95px;
}

.no--btn{
    width: 95px;
}

/* Score area */
.score-area{
    margin: 10px 0 10px 2px;
}
.scores{
    display: inline-block;
}

.icons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}

/* Inside Settings */
.inside-settings{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 240px;
    align-items: center;
    bottom: 60px;
    left: -100%;
    box-sizing: border-box;
    margin-left: -110px;
    justify-content: flex-start;
    z-index: 5;
    transition: all .5s ease-in;
}

.inside-move{
    left: 50%;
    transition: all .5s ease-in;
}

.inside-settings .circle-btn{
    margin-top: 10px;
}

/* Instructions */
.instruction-container{
    text-align: center;
    width: 90%;
    position: absolute;
    top: 30vh;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 5;
    max-width: 1440px;
    display: none;
    box-sizing: border-box;
}

.wrapper{
    margin: 5px 0 10px 0;
    width: 100%;
}
  
#up-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#up-list label{
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #f00;
    border-bottom: none;
}
  
#up-list label:hover{
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid #fff;
    
}
  
#up-list label.last{
    border-bottom: 1px solid #f00;
}

#up-list label.last:hover{
    border-bottom: 1px solid #fff;
}
  
#up-list ul ul li{
    padding: 10px;
    background: black;
    text-align: left;
    line-height: 150%;
}  
  
#up-list input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}
  
#up-list input[type="checkbox"] ~ ul{
    height: 0;
    transform: scaleY(0);
}
  
#up-list input[type="checkbox"]:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
}
  
#up-list input[type="checkbox"]:checked + label{
    background:rgba(255, 0, 0, 0.3);
    border: 1px solid #fff;
}

#up-list p{
    margin: 25px 10px;
    line-height: 120%;
    text-align: justify;
}

/* Background table */
.bgtable-container{
    width: 90%;
    position: absolute;
    top: 130px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 10;
    max-width: 1440px;
    box-sizing: border-box;
    max-height: 500px;
    overflow-y: scroll;
    display: none;
}

.show-bgtable{
    display: block;
}

.table-option{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
    margin: 10px 0;
}

.table-option input{
    opacity: 0;
}

.bgoption-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.bgoption-container img{
    width: 100%;
    object-fit: cover;
    max-height: 152px;
    max-width: 544px;
    border-radius: 7px;
    margin-bottom: 15px;
    position: relative;
}

.table-btn{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: bold;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-btn:hover{
    background-color: rgba(96,21,166,0.77);
}

/* Background cards */
.bgcard-container{
    width: 90%;
    position: absolute;
    top: 130px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 10;
    max-width: 1440px;
    box-sizing: border-box;
    max-height: 500px;
    overflow-y: scroll;
    display: none;
}

.card-option{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:center;
    margin: 10px 0;
}

.card-option input{
    display: none;
}

.bgcardoption-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.bgcardoption-container img{
    width: 100%;
    object-fit: cover;
    max-height: 152px;
    max-width: 110px;
    border-radius: 7px;
}

.card-btn{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: bold;
    margin: 5px 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*table ribbon*/
.box {
    position: relative;
}

.ribbon {
    position: absolute;
    right: 1px; 
    top: 1px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
    display: none;
}

.show-ribbon{
    display: block;
}

.ribbon span {
    font-size: 0.85rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

/*card ribbon*/
.card-ribbon {
    position: absolute;
    right: 1px; 
    top: 1px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
    display: none;
}

.show-card-ribbon{
    display: block;
}

.card-ribbon span {
    font-size: 0.85rem;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}

.card-ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

.card-ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*background cards */
    .bgcardoption-container h3{
        font-size: 1.5rem;
    }
    
    .bgcardoption-container p{
        font-size: 1rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Cards */
    .fake-card{
        width: 80px;
        height: 120px;
    }

    .deck-card{
        width: 80px;
        height: 120px;
    }

    .card{
        width: 80px;
        height: 120px;
    }

    .number{
        font-size: 1.5rem;
    }

    .suit{
        font-size: 2rem;
    }

    /*Player*/
    .player-cards{
        height: 120px;
        flex-wrap: nowrap;
    }

    /*Delaer*/
    .dealer-cards{
        height: 120px;
        flex-wrap: nowrap;
    }

    /* Messages */
    .message-container h2{
        font-size: 1.5rem;
    }
    
    .message-container p{
        font-size: 1.2rem;
    }

    /* Inside settings */
    .inside-settings{
        width: 80px;
        height: 320px;
        margin-left: -140px;
        bottom: 80px;
    }
}